.filterButton {
  //MOBILE
  border-right-color: #565c65;
  color: white;
  background-color: #71767a;
  & :hover {
    color: white;
    background-color: #565c65;
  }
  @media only screen and (min-width: 480px) {
    //Antyhing larger than mobile
    color: #005ea2 !important;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: normal;
    justify-content: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    width: auto;
    :hover {
      color: #1a4480;
      background-color: transparent;
    }
    & :focus {
      outline: 0.25rem solid #2491ff;
      outline-offset: 0rem;
      background-color: transparent;

    }
  }
}

