html, body, #root {
    height: 100%;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .spin {
    animation: spin 1s linear infinite;
  }


.wildfire-explorer {
  font-weight: normal;
}